<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
    <section id = "Landing-section">
        <!-- <div class="navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                <a class="nav-link active" href="#">Teams</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div> -->

        <div class="logo">
          <svg width="63" height="115" viewBox="0 0 63 115" fill="none" xmlns="http://www.w3.org/2000/svg"> <line x1="61.5" y1="25" x2="61.5" y2="115" stroke="#FF9900" stroke-width="3"/> <line x1="1.5" y1="3" x2="1.5" y2="93" stroke="#EEEEEE" stroke-width="3"/> <line y1="1.5" x2="45" y2="1.5" stroke="#EEEEEE" stroke-width="3"/> <line x1="15" y1="66.5" x2="60" y2="66.5" stroke="#FF9900" stroke-width="3"/> <line x1="15" y1="26.5" x2="60" y2="26.5" stroke="#FF9900" stroke-width="3"/> <line x1="16" y1="113.5" x2="61" y2="113.5" stroke="#FF9900" stroke-width="3"/> <line y1="91.5" x2="45" y2="91.5" stroke="#EEEEEE" stroke-width="3"/> <line y1="43.5" x2="45" y2="43.5" stroke="#EEEEEE" stroke-width="3"/> </svg>
        </div>
        
        <div id = "title">
            <h1>
                <span class="first">Thank you, your message has been submitted.</span>
            </h1>
          <a href="/" class="btn btn-success">Back</a>
        </div>
    </section>


    <!-- <section id = "Footer-section">
        <div class = "footer">
            <h6>@hoangh.com</h6>
        </div>
    </section> -->

    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>